In [1]:
import requests
import os
import json
from api_keys import BEARER_TOKEN
from tqdm import tqdm
import os
import pandas as pd
from datetime import datetime
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Funções (Análise Exploratória)

### Função para plotar bar plot com a contagem de tokens

In [2]:
def plot_bar_count_words(text_column=None,
                         label_column=None,
                         name_class=None,
                         dataframe=None,
                         metric='SUM',
                         top=50,return_df=True):
    
    corpus = dataframe[text_column].values
    
    vectorizer = CountVectorizer()
    data_vect = vectorizer.fit_transform(corpus)
    data_vect = data_vect.toarray()
    
    df_count_words =  pd.DataFrame({
    "WORDS":vectorizer.get_feature_names(),
    "MEAN":data_vect.mean(axis=0),
    "SUM":data_vect.sum(axis=0),
    "STD":data_vect.std(axis=0),
    }) 
    
    

    if return_df:
    
        return df_count_words[[metric,'WORDS']].sort_values(by=[metric],ascending=False)[0:top]
    
    else:
        
        fig = plt.figure(figsize=(15,10))
        
        ax = sns.barplot(x=metric, 
                 y="WORDS", 
                 data=df_count_words[[metric,'WORDS']].sort_values(by=[metric],
                                                                            ascending=False)[0:top])

### Função para plotar bar plot com tf-idf

In [3]:
def plot_bar_tf_idf(text_column=None,
                         label_column=None,
                         name_class=None,
                         dataframe=None,
                         metric='SUM',
                         top=50,return_df=True):
    
    corpus = dataframe[text_column].values
    
    vectorizer = TfidfVectorizer()
    data_vect = vectorizer.fit_transform(corpus)
    data_vect = data_vect.toarray()
    
    df_count_words =  pd.DataFrame({
    "WORDS":vectorizer.get_feature_names(),
    "MEAN":data_vect.mean(axis=0),
    "SUM":data_vect.sum(axis=0),
    "STD":data_vect.std(axis=0),
    "MAX":data_vect.std(axis=0)
    }) 
    
    

    if return_df:
    
        return df_count_words[[metric,'WORDS']].sort_values(by=[metric],ascending=False)[0:top]
    
    else:
        
        fig = plt.figure(figsize=(15,10))
        
        ax = sns.barplot(x=metric, 
                 y="WORDS", 
                 data=df_count_words[[metric,'WORDS']].sort_values(by=[metric],
                                                                            ascending=False)[0:top])

### Função para contagem de tokens

In [4]:
def calculate_number_words(text):

    quantity_of_words = text.split(" ")

    quantity_of_words = [i for i in quantity_of_words if i!=""]

    quantity_of_words = len(quantity_of_words)

    return quantity_of_words

### Função para contagem de diferentes tokens

In [5]:
def calculate_number_diferent_words(text):

    quantity_of_diferent_words = text.split(" ")

    quantity_of_diferent_words = [i for i in quantity_of_diferent_words if i!=""]

    quantity_of_diferent_words = set(quantity_of_diferent_words)

    quantity_of_diferent_words = list(quantity_of_diferent_words)

    quantity_of_diferent_words = len(quantity_of_diferent_words)

    return quantity_of_diferent_words

### Função para criar textos sem repetição de palavras para ser utilizado na análise exploratória

In [6]:
def convert_text_to_no_repeat_words(text):

    text_with_no_repeat_words = text.split(" ")

    text_with_no_repeat_words = [i for i in text_with_no_repeat_words if i!=""]

    text_with_no_repeat_words = set(text_with_no_repeat_words)

    text_with_no_repeat_words = list(text_with_no_repeat_words)

    text_with_no_repeat_words = " ".join(text_with_no_repeat_words)

    return text_with_no_repeat_words

### Função para o pré-processamento do texto

In [7]:
def text_cleaner(text):
    
    nltk_stopwords = stopwords.words('portuguese')

    collection_text = [ {"text" : text}]
    text = pd.DataFrame(collection_text)

    text['text'] = text['text'].astype('str')
    text['text'] = text['text'].str.lower()
    text['text'] = text['text'].str.replace('\n',' ')
    text['text'] = text['text'].str.replace('\r',' ')
    text['text'] = text['text'].apply(lambda x: norm('NFKD', x).encode('ascii', 'ignore').decode())
    text['text'] = text['text'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]',' ',x))
    text['text'] = text['text'].apply(lambda x: re.sub(r'\s+',' ',x))
    pat = r'\b(?:{})\b'.format('|'.join(nltk_stopwords))
    text['text'] = text['text'].str.replace(pat,'')
    text = text['text'].values[0]

    return text

# Funções (Extração de Tweets)

In [8]:
# To set your enviornment variables in your terminal run the following line:
# export 'BEARER_TOKEN'='<your_bearer_token>'


def create_url(query = "@globoplay -is:retweet",until_id=None):
    
    #query = "@BBB -is:retweet"
    #"from:twitterdev -is:retweet"
    # Tweet fields are adjustable.
    # Options include:
    # attachments, author_id, context_annotations,
    # conversation_id, created_at, entities, geo, id,
    # in_reply_to_user_id, lang, non_public_metrics, organic_metrics,
    # possibly_sensitive, promoted_metrics, public_metrics, referenced_tweets,
    # source, text, and withheld
    
    if until_id:
        
        url = "https://api.twitter.com/2/tweets/search/recent?query={}&max_results=100&until_id={}".format(
            query,until_id
        )
        
    else:
        
        url = "https://api.twitter.com/2/tweets/search/recent?query={}&max_results=100".format(
            query
        )
            
    return url


def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers


def connect_to_endpoint(url, headers):
    response = requests.request("GET", url, headers=headers)
    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    return response.json()


def extract_100_tweets(query = "@BBB -is:retweet",until_id=None):
    bearer_token = BEARER_TOKEN
    url = create_url(query,until_id)
    headers = create_headers(bearer_token)
    json_response = connect_to_endpoint(url, headers)
    data_tweets = json.dumps(json_response, indent=4, sort_keys=True)
    return json_response

def extract_many_tweets(qnt_cycle=10,folder="data_tweets",start_from_id=None,query="@BBB"):
    
    
    oldest_id = None
    
    for i in tqdm(range(qnt_cycle)):
    
        
        if i == 0:
            
            #extract the 100 tweets first
            
            if start_from_id:
        
                data_tweets = extract_100_tweets(query = "{} -is:retweet".format(query),until_id=None)
            
            else:
                
                data_tweets = extract_100_tweets(query = "{} -is:retweet".format(query),until_id=start_from_id)
                
            
            df_data_tweets_temp = pd.DataFrame(data_tweets["data"])
            
            #get the current date
            
            date_extraction = datetime.now()
            
            df_data_tweets_temp["date_extraction"] = date_extraction 
            
            
            oldest_id = data_tweets['meta']['oldest_id']
            
            oldest_date = date_extraction
            
            df_data_tweets = df_data_tweets_temp.copy()
            
            # name file
            
            date_extraction_str = str(date_extraction).replace(".","-").replace(":","-").replace(" ","-")
            
            name_file = "./{}/persist_tweets_{}_{}.csv".format(folder,date_extraction_str,date_extraction_str)
            
            # persist base
            
            df_data_tweets.to_csv(name_file,sep=",")
            
    
            
        else:
            
            
            #extract more 100 tweets older
            
            data_tweets_temp = extract_100_tweets(query = "{} -is:retweet".format(query),until_id=oldest_id)
            
            df_data_tweets_temp = pd.DataFrame(data_tweets_temp["data"])
            
            
            #get the current date
            
            
            date_extraction = datetime.now()
            
            df_data_tweets_temp["date_extraction"] = date_extraction 
            
            oldest_id = data_tweets_temp['meta']['oldest_id']
            
            df_data_tweets = pd.concat([df_data_tweets,df_data_tweets_temp.copy()])
            
            date_extraction = datetime.now()
            
            df_data_tweets.reset_index(inplace=True,drop=True)
            
            
            # remove old files
            
            os.remove(name_file)
            
            
            # name file
            
            oldest_date_str = str(oldest_date).replace(".","-").replace(":","-").replace(" ","-")
            
            date_extraction_str = str(date_extraction).replace(".","-").replace(":","-").replace(" ","-")
            
            
            name_file = "./{}/persist_tweets_{}_{}.csv".format(folder,oldest_date_str,date_extraction_str)
            
            # persist base
            
            df_data_tweets.to_csv(name_file.format(folder),sep=",")
            
            

    return df_data_tweets

# Extração de Tweets

In [9]:
data_tweets_final = extract_many_tweets(qnt_cycle=10,folder="data_tweets",query="globoplay")#,start_from_id="1367600965277384706")

100%|██████████| 10/10 [00:09<00:00,  1.01it/s]

In [11]:
data_tweets_final.head(30)

,id,text,date_extraction
0,1381312014316867587,@Its_Jander @globoplay Uso mas até que carreg...,2021-04-11 15:24:03.892362
1,1381312000530202624,globoplay pare de nos ameacar eu tenho familia...,2021-04-11 15:24:03.892362
2,1381311982360481797,Passando o documentário da @SandyLeah e do @Ju...,2021-04-11 15:24:03.892362
3,1381311977520250887,"@danielrenardi @globoplay Ciranda De Pedra, po...",2021-04-11 15:24:03.892362
4,1381311962852777992,amoo a melhor https://t.co/SQiz8oWCsY,2021-04-11 15:24:03.892362
5,1381311939092041733,"Affff Globoplay me poupe, se poupe, nos poupe ...",2021-04-11 15:24:03.892362
6,1381311934461513730,"@SeriesTWBZ avisa que flopou, globoplay decain...",2021-04-11 15:24:03.892362
7,1381311924147732483,A dupla #SandyeJunior foi um fenômeno no Brasi...,2021-04-11 15:24:03.892362
8,1381311914962259971,@beltraomaria @globoplay @axexeo @DiraPaesCom ...,2021-04-11 15:24:03.892362
9,1381311914022670342,Tantos pontos até mesmo técnicos para melhorar...,2021-04-11 15:24:03.892362
10,1381311911162183682,@Fafelayabe @ligadoemserie @rosana @globoplay ...,2021-04-11 15:24:03.892362
11,1381311891344142344,Aguardando ansiosamente https://t.co/nDS30l3GS0,2021-04-11 15:24:03.892362
12,1381311889595101192,"Esse anuncio, todo o espectro dele\nSimplesmen...",2021-04-11 15:24:03.892362
13,1381311889116962822,ces ja perceberam que no cimena do lider eles ...,2021-04-11 15:24:03.892362
14,1381311834599358468,"Assistam no Globoplay "" A corrida das Vacinas""...",2021-04-11 15:24:03.892362
15,1381311829444558855,@globoplay Jamais 🤢,2021-04-11 15:24:03.892362
16,1381311829226426375,@globoplay Vem Mamacita,2021-04-11 15:24:03.892362
17,1381311817260138497,"@leilasoares5 Olá @leilasoares5, não se preocu...",2021-04-11 15:24:03.892362
18,1381311806975709185,"@globoplay O Doc mais aguardado avisa, Glo 🤫",2021-04-11 15:24:03.892362
19,1381311801959321605,A @luizatrajano contou no Altas Horas para o @...,2021-04-11 15:24:03.892362
20,1381311797081296898,só não cancelo minha assinatura por causa das ...,2021-04-11 15:24:03.892362
21,1381311788411715584,"@jfavss @globoplay Old jotta, lenda ninguém acima",2021-04-11 15:24:03.892362
22,1381311788201967618,Quem tem @globoplay coloca no programa de 27/0...,2021-04-11 15:24:03.892362
23,1381311765712109580,k https://t.co/TcV4mlODtk,2021-04-11 15:24:03.892362
24,1381311754312028160,@globoplay o documentário nera aberto a não as...,2021-04-11 15:24:03.892362
25,1381311742236561409,Top1 coisas forçadas que nunca vou entender: \...,2021-04-11 15:24:03.892362
26,1381311735810957322,Obrigada @globoplay por esse projeto incrível!...,2021-04-11 15:24:03.892362
27,1381311726893817870,Oiii @globoplay nunca te pedi nada.... mas pod...,2021-04-11 15:24:03.892362
28,1381311705418960898,@danlonewolf @globoplay Old,2021-04-11 15:24:03.892362
29,1381311704999591936,a culpa é grande né rede grobo https://t.co/Sf...,2021-04-11 15:24:03.892362

# Criação de uma coluna com os textos sem repetição de palavras para ser utilizado na análise exploratória

In [12]:
data_tweets_final['text_unique_words'] = data_tweets_final['text'].apply(lambda x: convert_text_to_no_repeat_words(x))

# Calculo Número de tokens

In [13]:
data_tweets_final['number_tokens'] = data_tweets_final['text'].apply(lambda x: calculate_number_words(x))

# Calculo Número de diferentes tokens

In [14]:
data_tweets_final['number_diferent_tokens'] = data_tweets_final['text'].apply(lambda x: calculate_number_diferent_words(x))

# DF top 10 MEAN

In [15]:
df_report_mean = plot_bar_count_words(text_column='text',
                                                dataframe=data_tweets_final,
                                                metric='MEAN',top=10,return_df=True)

In [16]:
df_report_mean

          MEAN      WORDS
1495  0.824297  globoplay
1586  0.438755      https
694   0.438755         co
2692  0.376506        que
893   0.329317         de
2241  0.229920        não
2204  0.202811         no
1031  0.198795         do
867   0.176707         da
1222  0.169679         eu

# DF top 10 SUM

In [17]:
df_report_sum = plot_bar_count_words(text_column='text',
                                                dataframe=data_tweets_final,
                                                metric='SUM',top=10,return_df=True)

In [18]:
df_report_sum

      SUM      WORDS
1495  821  globoplay
1586  437      https
694   437         co
2692  375        que
893   328         de
2241  229        não
2204  202         no
1031  198         do
867   176         da
1222  169         eu

# DF top 10 MEAN TF-IDF

In [19]:
df_report_tfidf_mean = plot_bar_tf_idf(text_column='text',
                                                dataframe=data_tweets_final,
                                                metric='MEAN',top=10,return_df=True)

In [20]:
df_report_tfidf_mean

          MEAN      WORDS
1495  0.067149  globoplay
694   0.051725         co
1586  0.051725      https
2692  0.039750        que
893   0.034311         de
2241  0.028884        não
2204  0.026339         no
1031  0.025269         do
1222  0.024085         eu
867   0.023721         da

# DF top 10 MAX TF-IDF

In [21]:
df_report_tfidf_max = plot_bar_tf_idf(text_column='text',
                                                dataframe=data_tweets_final,
                                                metric='MAX',top=10,return_df=True)

In [22]:
df_report_tfidf_max

           MAX      WORDS
1495  0.081188  globoplay
2692  0.075134        que
2241  0.069778        não
1586  0.069217      https
694   0.069217         co
893   0.065540         de
1222  0.065443         eu
1976  0.063770   mamacita
3403  0.063082        vou
1031  0.062834         do